<div class="card" style="width:400px">
  <div class="card-body">
    <h4 class="card-title">{{customer.firstName+' '+customer.lastName}}</h4>
    <p class="card-text">Customer Id:  {{customer.id}}</p>
    <p class="card-text">Email:  {{customer.email}}</p>
    <p class="card-text">Mobile Number:  {{customer.mobileNumber}}</p>
    <p class="card-text">Gender:  {{customer.gender}}</p>
    <p class="card-text">Date Of Birth:  {{customer.dob}}</p>
    <p class="card-text">Address:  {{customer.address}}</p>
    <p class="card-text">Is Active:  {{customer.isActive}}</p>
  </div>
</div>